/* This styles the whole page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f8f5;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2f6b2f;
}

.navbar nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.nav-btn {
    background-color: #c62828;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    padding: 50px;
    background: linear-gradient(to right, #e8f3e8, #f6f8f5);
}

.hero-box {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}

/* TEXT SIDE */
.hero-text {
    flex: 1;
}

.tag {
    color: orange;
    font-weight: bold;
    font-size: 14px;
}

.hero-text h1 {
    font-size: 40px;
    color: #2f6b2f;
    margin: 10px 0;
}

.hero-text p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.order-btn {
    background-color: #c62828;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

/* IMAGE SIDE */
.hero-image img {
    width: 350px;
    border-radius: 15px;
}